# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Ch11/Chapter11/.vs/Chapter11/v14/*.suo
/Ch11/Chapter11/*.opendb
/Ch11/Chapter11/*.db
/Ch11/Chapter11/Debug/*.pdb
/Ch11/Chapter11/Debug/*.ilk
/Ch11/Chapter11/Chapter11/Debug/*.pdb
/Ch11/Chapter11/Chapter11/Debug
/Ch11/Chapter11/Chapter11/*.user
/Ch11/Chapter11/Chapter11/*.filters
/Ch11/Chapter11/Chapter11/*.vcxproj
/Ch11/Chapter11/*.sln
